<ion-view title="Basic">
  <ion-content padding="true">  
  <ion-list>
  <ion-item>
  <img src="images/b1.png" class="ionic-logo">
  </ion-item>
  <ion-item>
      <h2>Incomes</h2>
      <p>Income is the consumption and savings opportunity gained by an entity within a specified timeframe, which is generally expressed in monetary terms.<br>
      However, for households and individuals, "income is the sum of all the wages, salaries, profits, interests payments, rents and other forms of earnings received... in a given period of time."</p>
      </ion-item>
  <ion-item>
      <h2>Expenses</h2>
      <p>In accounting, expense has a very specific meaning. It is an outflow of cash or other valuable assets from a person or company to another person or company.<br>
        This outflow of cash is generally one side of a trade for products or services that have equal or better current or future value to the buyer than to the seller.</p>
  <a class="button icon-right ion-chevron-right button-calm" href="#/basico2">Challengue me!</a>
  </ion-item>
  </ion-list>  
  </ion-content>  
</ion-view>
