<ion-view title="Basic">
  <ion-content padding="true">  
  <ion-list>
  <ion-item>
      <h2>Challengue</h2>
      <p>What it's income?</p>
      <ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     The sum of all my money
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Feel Good
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Hakuna Matata
  </li>

  <a class="button icon-right ion-chevron-right button-calm" href="#/tab/about">Go</a>
      </ion-item>
  </ion-list>
  </ion-content>  
</ion-view>
