<ion-view title="Medium">
  <ion-content padding="true">  
  <ion-list>
  <ion-item>
      <h2>Cash Flow</h2>
      <img src="images/cashflow.jpg" class="ionic-logo">
      <p>Cash flow is the movement of money into or out of a business, project, or financial product. It is usually measured during a specified, limited period of time. Measurement of cash flow can be used for calculating other parameters that give information on a company's value and situation. Cash flow can be used, for example, for calculating parameters: it discloses cash movements over the period.<br>
  <a class="button icon-right ion-chevron-right button-calm" href="#/medium2">Challengue me!</a>
  </ion-item>
  </ion-list>  
  </ion-content>  
</ion-view>
