<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="About Me">
  <ion-content padding="true">
    <img src="images/profile.png" class="ionic-logo">
    <p>
      Coding for fun.<br/><br/>
      @carlosrojas_o

    </p>
    <p>
      <h2>Badges</h2> 
      <a class="item item-avatar" href="#">
      <img src="images/b1.png">
      <h2>Level 1 Completed</h2>
      </a>
      <a class="item item-avatar" href="#">
      <img src="images/b2.png">
      <h2>Level 2 Completed</h2>
      </a>
      <a class="item item-avatar" href="#">
      <img src="images/b3.png">
      <h2>Level 3 Completed</h2>
      </a>

    </p>
  </ion-content>
</ion-view>
