<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<ion-view title="Lessons">
   <ion-content>
      <ion-list>
        <ion-item>
          <a class="item item-thumbnail-left" href="#">
          <img src="images/b1.png">
          <h2>Basic</h2>
          <p>Learn about Income and Expenses.</p>
        </a>
        </ion-item>
        <ion-item>
          <a class="item item-thumbnail-left" href="#">
          <img src="images/b2.png">
          <h2>Medium</h2>
          <p>Learn about Cash Flow.</p>
        </a>
        </ion-item>
        <ion-item>
          <a class="item item-thumbnail-left" href="#">
          <img src="images/b3.png">
          <h2>Hard</h2>
          <p>Learn about financial strategy.</p>
        </a>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
