<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<ion-view title="Login">
   <ion-content>
   <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
    </ion-content>
</ion-view>
