     <ion-view title="Sign-In">
        <ion-content>
          <ion-list>
          <ion-item>
          <img src="images/logo.png" class="ionic-logo">
          </ion-item>
        <ion-item>
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
            <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              Sign-In
            </button>
            <p class="text-center">
              <a href="#/tab/adopt">Forgot password</a>
            </p>
          </div>
          </ion-item>
        <ion-item>
          
        </ion-content>
      </ion-view>