     <ion-view title="Sign-In">
        <ion-content>
          <ion-list>
          <ion-item>
          <img src="images/logo.png" class="ionic-logo">
          </ion-item>
        <ion-item>
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
            <div class="padding">
            <a class="button button-block button-positive" href="#/tab/adopt">
              Sign-In
            </a>
            <p class="text-center">
              <a href="#" id="LoginWithAmazon">
  <img border="0" alt="Login with Amazon"
    src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
    width="156" height="32" />
</a><br>
              <a href="#/tab/adopt">Forgot password</a>
            </p>
          </div>
          </ion-item>
        <ion-item>
          
        </ion-content>
      </ion-view>